body, html {
    font-family: "Courier New";
    margin: 0;
    padding: 0;
    background-color: mediumslateblue;
    width: 100%;
    height: 100%;
}
@media only screen and (min-width: 200px) {
    body {
        font-size: 14px;
    }
}


@media only screen and (min-width: 400px) {
    body {
        font-size: 18px;
        letter-spacing: 4px;
    }
}

@media only screen and (min-width: 800px) {
    body {
        font-size: 22px;
        letter-spacing: 7px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 26px;
        letter-spacing: 10px;
    }
}

#mainWrapper {
    box-sizing: border-box;
}

h2 {
    color:rgb(234, 231, 255);
    margin-top: 1vh;
    margin-bottom: 1vh;  
}

@media only screen and (min-height: 500px) {
    h2 {
        padding-top: 1vh;
    }

    #header {
        padding-top: 2vh;
    }
}

@media only screen and (min-height: 600px) {
    h2 {
        padding-top: 2.5vh;
    }
}

#header {
    position: relative;
    box-sizing: border-box;
    font-size: 100%;
    color: rgb(214, 207, 255);
    text-align: center;
    height: 20vh;
    width: 100vw;
    border: 5px solid rgb(214, 207, 255);
    background-image: linear-gradient(rgb(151, 134, 250), rgb(112, 94, 214));
}

.spinningPeanut {
    background-image: url('./peanutIcon.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 5vh;
    margin-left: 40vw;
    margin-top: 1vh;
    animation-name: spinningPeanut;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes spinningPeanut {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

.navBar {
    box-sizing:border-box;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    border: 1px solid rgb(214, 207, 255);
}

.navBTN {
    box-sizing:border-box;
    color: rgb(221, 214, 255);
    display: block;
    text-align:center;
    height: 100%;
    width: 33%;
    border: 1px solid rgb(214, 207, 255);
    padding: 3vh;
}

.navBTN:hover {
    background-color:rgb(227, 225, 255);
    color:rgb(74, 59, 160);
    cursor: pointer;
}

#mainContent {
    position: relative;
    height: 70vh;
    z-index: 1;
    background-color: mediumslateblue;
}

@keyframes slideIn {
    0% {height: 0vh; padding-top: 0;}
    100% {height: 70vh;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.content {
    color: white;
    text-align: center;
    height: 70vh;
    background-color:rgb(88, 73, 170);
    background-image: linear-gradient(rgb(114, 96, 216), rgb(151, 134, 250));
    box-sizing: border-box;
    animation-name: slideIn;
    animation-duration: 1s;

}

#home {
    padding-top: 5%;

}

.itemHeader {
    display: inline-block;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#latestEpisodeIFRAME {

}

.episodePanel {
    box-sizing: border-box;
    display: block;
    margin-left: 5%;
    margin-bottom: 1vh;
    width: 90%;
    height: fit-content;
    animation-name: fadeIn;
    animation-duration: 2s;
}

#episodes {
    padding-top: 5vh;
    display: none;
    height: fit-content;
    background-color: rgb(88, 73, 170);
}

#contact {
    display: none;
    padding-top: 20%;
}

#footer {
    color: white;
    position: absolute;
    text-align: center;
    bottom: 2.5vh;
    left: 5vw;
}

.socialIcon {
    display: inline-block;
    height: 5vh;
    width: 5vw;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}

#fbIcon {
    background-image: url('./fbIcon.png');
}

#ytIcon {
    background-image: url('./ytIcon.png');
}

#twIcon {
    background-image: url('./twIcon.png');
}

#sfIcon {
    background-image: url('./sfIcon.png');
}